varibad_jax.egg-info/*
env/*
varibad_jax/xm*
varibad_jax/BUILD
varibad_jax/utils/viz_utils.py
*.ipynb
*.pyc
varibad_jax/hyperparams/*
commands.txt
varibad_jax/results
varibad_jax/wandb
varibad_jax/start.sh
build/*
varibad_jax/ray_results/*
varibad_jax/varibad_jax/ray_results/*
*.pkl
*.mp4
test*
misc/*
varibad_jax/datasets/*
old/*
varibad_jax/commands/*
varibad_jax/hello.txt
varibad_jax/tmp.sh
*.png
*.pdf
varibad_jax/tensorflow_datasets/*
varibad_jax/scripts/procgen_dataset.egg-info
atari_head/*
atari_head_2/*